# Git
.git
.gitignore
.gitattributes

# CI/CD
.github

# IDE
.idea
.vscode
*.swp
*.swo
*~

# Node
node_modules
npm-debug.log
yarn-error.log

# Laravel
/vendor
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep

# Environment
.env
.env.*
!.env.example

# Testing
.phpunit.result.cache
tests

# Documentation
*.md
!README.md

# Misc
.DS_Store
Thumbs.db
